---
- name: Add lines to zshrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    insertbefore: BOF
    block: |
        {% for line in zshrc_lines %}
        {{ line }}
        {% endfor %}
        {% for alias in zshrc_aliases %}
        alias {{ alias }}
        {% endfor %}
